@font-face {
  font-family: "basier circle";
  src: url(./assets/BasierCircleRegular.otf) format("opentype");
}

@font-face {
  font-family: "basier circle semi bold";
  src: url(./assets/BasierCircleSemiBold.otf) format("opentype");
}

:root {
  max-width: 100vw;
}

* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 100%;
  font-family: "basier circle";
  color: #5655ff;
  font-size: 1.0488vw;
}

.container {
  padding-top: 4.9167vw;
  max-width: 76.25rem;
  margin: auto;
}

.navBar {
  max-width: 72.5rem;
  margin: auto;
  max-height: 1.313rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-bottom: 1.6389vw;
}

.navLogo {
  margin-left: 1.3111vw;
  width: 4.65445vw;
}

.navList {
  display: flex;
  gap: 1.3111vw;
}

.background {
  background-color: rgb(86, 85, 255, 0.03);
}

.none {
  list-style: none;
  padding: 0;
}

.banner {
  max-width: 76.25rem;
  padding: 10% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.3408vw;
}

.bannerVideo {
  width: 80%;
  max-width: 60.625rem;
  height: auto;
}

.wrapper {
  max-width: 76.25rem;
  display: grid;
  grid-template-columns: 24.625% 24.625% 24.625% 24.625%;
  grid-template-rows: 26.4194vw 26.7467vw 25.3045vw;
  gap: 0.5%;
  margin-bottom: 1.1537vw;
}

.content {
  display: flex;
  text-align: left;
  justify-content: center;
}

.contentSmall {
  display: flex;
  text-align: left;
  padding-left: 20%;
  padding-top: 20%;
}

.contentDoble {
  display: flex;
  text-align: left;
  padding-left: 10%;
  padding-top: 10%;
}

.contentTitle {
  font-family: "basier circle semi bold";
  font-size: 1.18vw;
  align-self: flex-start;
}

.manifesto {
  grid-column: 1 /3;
}

.contactanos {
  height: 15.681vw;
}

.contactanosList {
  display: flex;
  flex-direction: column;
  gap: 0.681778vw;
}

.relative {
  position: relative;
}

.simboloTelefono {
  position: absolute;
  left: -0.6rem;
  top: 0.01rem;
  font-size: 0.85222vw;
}

.transparent {
  font-size: 0.91778vw;
  color: rgb(86, 85, 255, 0.4);
}

.contentContainer {
  width: 79.15%;
}

.contentServiciosContainer {
  width: 90%;
}

.divider {
  display: flex;
  font-size: 1.0488vw;
}

.clientes {
  grid-row: 2/-1;
  grid-column: 1/3;
}

.gapList {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  font-size: 1.0488vw;
}

.gapSmallList {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  font-size: 1.0488vw;
}

.marginList {
  margin-left: 34%;
}

.marginBigList {
  margin-left: 34%;
}

.servicios {
  grid-column: 3/-1;
}

.siguenos {
  display: flex;
  padding-left: 23%;
  align-items: center;
}

.partners {
  display: flex;
  max-width: 76.25rem;
  height: 38.1533vw;
  justify-content: center;
  align-items: center;
}

.partnersContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.partnersTitle {
  width: 100%;
  display: flex;
  padding-left: 9.5%;
  justify-content: flex-start;
  font-family: "basier circle semi bold";
  font-size: 1.18vw;
}

.partnersWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 24.625% 24.625% 24.625% 24.625%;
  column-gap: 0.5%;
  row-gap: 4.19556vw;
}

.partnerSeparator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20%;
}

.partnerName {
  font-family: "basier circle semi bold";
  font-size: 1.0488vw;
}

.trapezoide {
  width: 1.96667vw;
  height: 0.32778vw;
  clip-path: polygon(0% 100%, 0% 0%, 82.5% 0%, 100% 100%);
}

.footerContainer {
  display: flex;
  gap: 8.1%;
  margin-top: 3rem;
  margin-left: 2rem;
}

.footerSpacer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerContainer * {
  font-size: 0.91778vw;
}

.gapFooter {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.copyRightContainer {
  display: flex;
  margin: 5rem 0 2rem 2rem;
  font-size: 0.7211vw;
  color: rgb(86, 85, 255, 0.6);
  gap: 1.5rem;
}

.copyRightContainer span {
  color: rgb(86, 85, 255, 0.4);
}
